{% extends 'base.html.twig' %}

{% block body %}
<input type="text" class="input1">
<div class="container categories">
    <div class="container carta">
        <a title="Volver al inicio" href="{{ path('publication_page') }}" id="backbutton" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" style="display: block;border-radius: .25rem; margin-top: -5px;margin-right: 14px;"><i class="fa fa-reply" aria-hidden="true"></i></a>
        <h3>&nbsp Logros</h3>
        <hr>
        <div data-toggle="tooltip" class="pull-right">
            <button type="button" style="margin-right: 15px;" class="btn btn-primary btn btn-sm table-add" id="agregarbtn">Agregar</button>
        </div>
        <br>
        <br>
    <form id="logrosForm" action="">
    {% include 'UserBundle:Achievements:table.html.twig'%}
    <div class="text-left btns" style="margin-left: 15px;">
    <button class="btn btn-default deshacer">Deshacer</button>
    <button  type="submit" class="btn btn-primary">Guardar</button>
    </div>
    </form>    
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
<script src="{{ asset('dist/js/Achievements/simple-iconpicker.min.js') }}"></script>
<script src="{{ asset('dist/js/Achievements/achievements.js') }}"></script>
{% endblock %}