<tr class="hide">
        <td data-toggle="popover" data-placement="bottom" data-content="El nombre que elegiste ya esta siendo usado. Escribe un nuevo nombre">
                <div class="form-group"><input placeholder="Introduzca el nombre del Logro" class="campoNombre" type="text" placeholder="Introduzca el nombre"></div>
        </td>
        <td data-toggle="popover" data-placement="bottom" data-content="Ingresaste un valor fuera del rango Permitido.">
                <div class="form-group"><input placeholder="Introduzca el valor máximo" class="campoRango" type="number" placeholder="Introduzca un valor"></div>
        </td>
        <td class="text-center"><button type="button" class="btn btn-secondary btn-icon"><input type="text" class="icono" value="fa-thumbs-o-up" spellcheck="false"></td>
        <td class="text-center">
                <div class="btn-group editable" role="group">
                        <button type="button" class="btn btn-success btn-sm submit" data-toggle="tooltip" data-placement="left" title="Aceptar">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                <button type="reset" class="editCancel btn btn-danger btn-sm">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="btn-group botones" role="group">
                        <button type="button" class="edit btn btn-primary btn-sm">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                        <button type="button" class="btn btn-danger btn-sm eliminar">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                </div>
        </td>
</tr>