<tr class="hide">
    <td><input type="text" placeholder="Introduzca el nombre"></td>
    <td><input type="number" placeholder="Introduzca un valor"  style="text-align: center;"></td>
        <td class="text-center">
                <div class="btn-group editable" role="group">
                                    <button type="button" class=" btn btn-info btn-sm table-up" data-toggle="tooltip" data-placement="left" title="Subir">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                                <button type="button" class="btn btn-info btn-sm table-down" data-toggle="tooltip" data-placement="left" title="Bajar">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
            <button type="button" class="btn btn-success btn-sm submit" data-toggle="tooltip" data-placement="left" title="Aceptar">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
            <button type="reset" class="editCancel btn btn-danger btn-sm">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
        </div>
<div class="btn-group botones" role="group">
                    <button type="button" class=" btn btn-info btn-sm table-up" data-toggle="tooltip" data-placement="left" title="Subir">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                                <button type="button" class="btn btn-info btn-sm table-down" data-toggle="tooltip" data-placement="left" title="Bajar">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
            <button type="button" class="edit btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
            <button type="button" class="btn btn-danger btn-sm table-remove">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
        </div>
        </td>
</tr>