{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock %}


{% block body %}
<div class = "signUp">

    {% include 'PublicationBundle:Creation:form.html.twig' %}
    
</div>
{% endblock %}

  {% block javascripts %}

  <script src="{{ asset('dist/js/publish.js') }}"></script>
  <script src="{{ asset('dist/js/publishDisabled.js') }}"></script>
  <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
  <script src="{{ asset('dist/js/publishValidation.js') }}"></script>
  {% endblock %}