{% embed 'utils/card.html.twig' with {'title': 'Publicar Gauchada'} %} {% block content %}
<div class="container">
    <form method="post" action="{{ path('signup') }}">
        <label for="exampleInputEmail1">Nombre</label>
        <div class="form-group row">
            <div class="col-xs-12 col-md-6">
                <input type="text" class="form-control" id="inlineFormInput" placeholder="Titulo" name="title">
            </div>
            <div class="col-xs-12 col-md-6">
                <label for="comment">Descripcion</label>
                <textarea class="form-control" rows="5" id="descripcion"></textarea>
            </div>
        </div>
        <label for="exampleInputEmail1">Email</label>
        <div class="form-group"><input type="email" class="form-control" id="formGroupExampleInput" placeholder="Dirección de email " name="email">
        </div>
        <label for="exampleInputEmail1">Contraseña</label>
        <div class="form-group row">
            <div class="col-xs-12 col-md-6">
                <input type="password" class="form-control" id="inlineFormInput" placeholder="Contraseña" name="password">
            </div>
            <div class="col-xs-12 col-md-6">
                <input type="password" class="form-control" id="inlineFormInput" placeholder="Confirmar Contraseña">
            </div>
        </div>
        <label for="exampleInputEmail1">Fecha de Nacimiento</label>
        <div class="form-group"><input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Fecha de Nacimiento" name="birthday"></div>

        <label for="exampleInputEmail1">Teléfono</label>
        <div class="form-group"><input type="tel" class="form-control" id="formGroupExampleInput2" placeholder="teléfono" name="phone"></div>
        <div class="form-group">
        </div>
        <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Registrame</button>
    </form>
</div>
{% endblock %} {% endembed %}