{% embed 'utils/card.html.twig' with {'title': 'Publicar Gauchada'} %} {% block content %}

<form id="createPublication">
    <label for="exampleInputEmail1">Nombre</label>
    <div class="form-group">
        <div>
            <input type="text" class="form-control" id="title" maxlength="40" placeholder="Titulo" name="title">
        </div>
    </div>
    <label for="exampleInputEmail1">Descripción</label>
    <div class="form-group">
        <textarea class="form-control" id="description" placeholder="Descripción" name="description"></textarea>
    </div>
   <div class="form-group">
        <label class="col-xs-3 control-label">Categoria</label>
        <div class="col-xs-5 selectContainer">
            <select class="form-control" name="category">
                <option value="black">Black</option>
                <option value="blue">Blue</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Ciudad</label>
        <div class="col-xs-5 selectContainer">
            <select class="form-control"  name="city">
                <option value=""></option>
                <option value="arabic">Arabic</option>
            </select>
        </div>
    </div>      
    <label for="exampleInputEmail1">Fecha Limite</label>
    <div class="form-group">
        <input type="date" min="2017-01-01" max="3000-01-01" class="form-control" id="limitDate" placeholder="Fecha Limite" name="limitDate">
    </div>
        <label for="exampleInputEmail1">Subir Imagen</label>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-secondary btn-file">
                    Buscar… <input type="file" id="imgInp" name="image">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload' class="card-img-bottom"/>
    </div>

    <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Crear</button>
        </div>
</form>


{% endblock %}{% endembed %}