{% import 'utils/modal.html.twig' as modal %}

{% extends 'base.html.twig' %}

{% block body %}

{{  modal.item('Esta a punto de salir sin guardar sus cambios, ¿Está seguro que desea continuar?') }} 

<div class = "edit">
    {% include 'UGSecurityBundle:EditProfile:form.html.twig' %}
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
  <script src="{{ asset('dist/js/EditProfile/editProfileValidation.js') }}"></script>
  <script src="{{ asset('dist/js/EditProfile/profilePhoto.js') }}"></script>
{% endblock %}