{% extends 'base.html.twig' %}

{% block body %}
<div class = "edit">
    {% include 'UGSecurityBundle:EditProfile:form.html.twig' %}
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
  <script src="{{ asset('dist/js/EditProfile/editProfileValidation.js') }}"></script>
  <script src="{{ asset('dist/js/EditProfile/profilePhoto.js') }}"></script>
{% endblock %}