<table id="logros" class="table table-bordered" cellspacing="0">
    <tr>
        <th>Nombre</th>
        <th class="text-center">Puntos Máximos</th>
        <th class="text-center">Icono</th>
        <th class="text-center"><i class="fa fa-cog" aria-hidden="true"></i></th>
    </tr>
    {% include 'AdminBundle:Achievements:addAchievement.html.twig'%}
    {% include 'AdminBundle:Achievements:list.html.twig'%}
</table>