{% for department in departments %}
    <option value="{{ department.id }}">{{ department.province.name | title }}{% if department.province.name != '' %}, {% endif %}{{ department.name | title }}</option>
{% endfor %}