<tr>
    <td>Franco Borrelli</td>
    <td class="text-center">16/07/2017</td>
    <td class="text-center">5</td>
    <td class="text-center">$23</td>
</tr>
<tr>
    <td>Pedro Brost</td>
    <td class="text-center">15/07/2017</td>
    <td class="text-center">3</td>
    <td class="text-center">$12</td>
</tr>
<tr>
    <td>Lucas Belenda</td>
    <td class="text-center">16/07/2017</td>
    <td class="text-center">1</td>
    <td class="text-center">$11</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td class="text-center">17/07/2017</td>
    <td class="text-center">2</td>
    <td class="text-center">$0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td class="text-center">18/07/2017</td>
    <td class="text-center">3</td>
    <td class="text-center">$0</td>
</tr>