{% embed 'utils/card.html.twig' with {'title': 'Iniciar Sesi칩n'} %}
    {% block content %}

        {% if error is defined and error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group"><input type="email" name="_username" class="form-control" id="formGroupExampleInput"
                                           placeholder="Direcci칩n de email"
                                           z></div>
            <div class="form-group"><input type="password" name="_password" class="form-control" id="formGroupExampleInput2"
                                           placeholder="Contrase침a"></div>
            <div class="checkbox">
                <label class="form-group"><input type="checkbox" value="remember-me"> Recordarme </label>
            </div>
            <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
            <div class="text-center"><a href="">No me acuerdo mi contrase침a</a></div>

        </form>
    {% endblock %}
{% endembed %}