{% embed 'utils/card.html.twig' with {'title': 'Iniciar Sesión'} %} 

{% block content %}

{% if error is defined and error%}
    <div class="alert alert-danger text-center" role="alert">
        <strong>Ups!</strong> El email y/o la contraseña son incorrectos.
    </div>
{% endif %}

<form id="signInForm" action="{{ path('login') }}" method="post">
    <div class="form-group"><input type="email" id="_username" name="_username" class="form-control" placeholder="Dirección de email" required></input></div>
    <div class="form-group"><input type="password" id="_password" name="_password" class="form-control" placeholder="Contraseña" required></div>
    <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
    <div class="text-center"><a href="">No me acuerdo mi contraseña</a></div>

</form>
{% endblock %} {% endembed %}