{% extends 'base.html.twig' %}

{% block body %}
<div class = "signIn">
    {% include 'UGSecurityBundle:Login:form.html.twig' %}
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
  <script src="{{ asset('dist/js/SignIn/signInDisabled.js') }}"></script>
  <script src="{{ asset('dist/js/SignIn/signInValidation.js') }}"></script>
{% endblock %}