{% extends 'base.html.twig' %}

{% block body %}
<div class = "signIn">
    {% include 'UGSecurityBundle:Login:form.html.twig' %}
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('dist/js/signInDisabled.js') }}"></script>
{% endblock %}