<table id="usuarios" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Logro</th>
            <th>Puntos</th>
        </tr>
    </thead>
    <tbody>
        {% include 'UserBundle:UserReport:userList.html.twig' %}
    </tbody>
</table>