<tr>
    <td>Franco Borrelli</td>
    <td>fracoborrelli96@hotmail.com</td>
    <td>Tipazo</td>
    <td class="text-center">23</td>
</tr>
<tr>
    <td>Pedro Brost</td>
    <td>pedro@gmail.com</td>
    <td>Buen Tipo</td>
    <td class="text-center">1</td>
</tr>
<tr>
    <td>Lucas Belenda</td>
    <td>lucas@gmail.com</td>
    <td>Buen Tipo</td>
    <td class="text-center">11</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>
<tr>
    <td>Garrett Winters</td>
    <td>garrett@gmail.com</td>
    <td>Observador</td>
    <td class="text-center">0</td>
</tr>