.container.categories{
    label{
        display: none!important;
    }
    input{
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        width: 100%;
        height: 30px;
        outline: none;
        border-radius: 3px;
        font-size: 15px;
        border: 1px solid rgba(0, 0, 0, 0.190);
        padding-left: 3px;
    }
    input.form-control-warning{
        width: 95%!important;
    }
    input:read-only{
        border: 0;
    }
}