.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 55%;
    position: relative;
    margin: 0 auto;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border: 1px solid;
    border-radius: 100%;
    background-color: #fff;
    &.btn-primary {
        background-color: $brand-primary;
    }
}

.container.form {
    max-width: 750px;
    margin-top: 70px;
}

#anioVenc {
    width: 40%
}

#mesVenc {
    width: 58%
}

btn.btn-primary.prevBtn.btn-lg.pull-left {
    margin-right: auto;
}


.card.success{
    max-width: 500px;
    .card-block{
        .alert{
             min-height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
        }
    }
}
