.container.editProfile{
    max-width: 1000px;
    background-color: white;
    margin-top: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 9px;
    border: 1px solid rgba(0,0,0,0.125);

    .row{
        margin-top: 15px;
        .profilePic{
                width: 100%;
                margin-top: 5px;
                margin-bottom: 10px;
                @media(max-width: 767px){
                        margin-left: 15px;
                        margin-right: 14px;
                }
                h6{
                    font-size: 14px;
                }
        }
        .personal-info{
            button {
                float: right;
                
            }
            button:first-of-type{
                    margin-left: 10px;
            }
        }
    }
}