.blog-footer {
    padding: 2.5rem 0;
    margin-top: 50px;
    color: black;
    text-align: center;
    background-color: #eceeef;
    border-top: .05rem solid #e5e5e5;
    span.footer-text {
        padding: 3px;
    }
}

.blog-footer p:last-child {
    margin-bottom: 0;
}