@import "variables";
@import "bootstrap/scss/bootstrap";


@import "navbar";
@import "footer";
@import "signIn";
@import "signUp";
@import "publication-list";


/* Change the white to any color ;) */

body{
    padding-top: 56px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #E0E0E0 inset;
}
