.panel {
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}

.table-filter .media-photo {
	width: 100px;
}
.table-filter .media-body {
    display: block;
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}

.table-filter .media span {
	font-size: .8em;
	margin-right: 20px;	
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media span.pagado {
	color: #5cb85c;
}
.table-filter .media span.pendiente {
	color: #f0ad4e;
}
.table-filter .media span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}