nav.navbar {
    .dropdown-toggle {
        cursor: pointer;
    }
    ul.sign-in {
        background-color: transparent;
        border: none;
        .card {
            margin: 0 auto;
            min-width: 300px;
            max-width: 500px;
            .card-title {
                margin: 0;
            }
            @media (max-width: 400px) {
                min-width: initial;
            }
        }
    }
}