.profitReport {
    .carta {
        a.detalle {
            float: right;
            margin-right: 15px;
        }
        .row.uno {
            float: right;
            margin-right: -16px;
            width: 310px;
            .demo {
                margin: 0 auto;
                width: 80%;
            }
        }
    }
}