.profitReport {
     .row.uno {
            float: right;
            margin-right: -16px;
            width: 310px;
            .demo {
                margin: 0 auto;
                width: 80%;
            }
        }
    .carta {
                        .fa-shopping-cart{
            font-size: 230px;
        }
        a.detalle {
            float: right;
            margin-right: 15px;
        }
    }
}