.container.profile {
    padding-top: 40px;
    .row {
        .col.col-md-3.profilePic {
            margin-left: 25px;
            margin-bottom: 15px;
            .col-md-8{
                    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
    padding-top: 20px;
    padding-bottom: 20px;
            }
        }
        .col-md-8.container.editProfile {
            margin-top: 0px;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}