.container.publication {
    padding-top: 40px;
}

.card-img-top.publication {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

img.comment {
    width: 64px;
    height: 64px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    .card {
        height: 100%;
    }
}

.card-header,
.card-footer {
    text-align: center;
}

.media {
    width: 100%;
}