 .badge.credits{
    float: right;
    font-weight: initial;
    @media (max-width: 800px) {
        width: 100%;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: cover;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

textarea.description{
  min-height: 125px;
}

.select2-selection .select2-selection--single {
    height: 34px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
