.container.publication {
    padding-top: 40px;
}

.card-img-top.publication {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

img.comment {
    width: 64px;
    height: 64px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    .card {
        height: 100%;
    }
}

.card-header,
.card-footer {
    text-align: center;
}

.select2-selection .select2-selection--single {
    height: 34px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.date-small {
    font-size: 13px;
}

@media (max-width: 767px) {
    .profilePic {
        padding-top: 25px;
    }
}

.list-group {
    .header {
                background-color: #FAFAFA;
                height: 45px;

                h6 {
                    margin: 0;
                }
            }
    .list-group-item {
        .media {
            width: 100%;
        }
        .media-body {
            textarea {
                width: 90%;
                height: auto;
                resize: none;
                outline: none;
            }
        }
    }
}