    .col-md-4{
            margin-bottom: 25px;
    }
.container.search {
    .card-header {
        text-align: left;
    }
    .list-group {
        .list-group-item {
            .row {
                width: 100%;
                img {
                    margin-top: 20px;
                    margin-left: 15px;
                }
                a.detalle {
                    float: right;
                }
            }
        }
    }
}