{% embed 'utils/card.html.twig' with {'title': 'Registrarme'} %} {% block content %}
<div class="container">

    {% if emailUsed is defined %}
    <div class="alert alert-danger text-center" role="alert">
        <strong>Ups!</strong> El email que ingresaste ya esta registrado en el sistema.
    </div>
    {% endif %}

    <form method="post" id="registration_form" action="{{ path('signup') }}">
        <label for="exampleInputEmail1">Nombre</label>
        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <input type="text" class="form-control" id="name" maxlength="40" placeholder="Nombre" name="name">
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <input type="text" class="form-control" id="lastName" maxlength="40" placeholder="Apellido" name="lastName">
            </div>
        </div>
        <label for="exampleInputEmail1">Email</label>
        <div class="form-group"><input type="email" class="form-control" id="email" placeholder="Dirección de email " name="email">
        </div>
        <label for="exampleInputEmail1">Contraseña</label>
        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <input type="password" minlength="6" class="form-control" id="password" placeholder="Contraseña" name="password">
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <input type="password" minlength="6" class="form-control" id="confirmPass" placeholder="Confirmar Contraseña" name="confirmPass">
            </div>
        </div>
        <label for="exampleInputEmail1">Fecha de Nacimiento</label>
        <div class="form-group"><input type="date" min="1900-01-01" max="3000-01-01" class="form-control" id="birthday" placeholder="Fecha de Nacimiento" name="birthday"></div>

        <label for="exampleInputEmail1">Teléfono</label>
        <div class="form-group"><input type="tel" class="form-control" id="phone" placeholder="teléfono" name="phone"></div>
        <div class="form-group">
        </div>
        <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Registrame</button>
    </form>
</div>
{% endblock %} {% endembed %}