{% extends 'base.html.twig' %}

{% block body %}
<div class = "signUp">
    {% include 'UGSecurityBundle:Register:form.html.twig' %}
</div>
{% endblock %}

  {% block javascripts %}
  <script src="{{ asset('dist/js/Disabled/signUpDisabled.js') }}"></script>
  <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
  <script src="{{ asset('dist/js/registrationValidation.js') }}"></script>
  {% endblock %}