{% extends 'base.html.twig' %}

{% block body %}
<div class="container publication">
    <h2>Mis ofrecimientos de Ayuda</h2>
    <hr>
    <div class="row">
            {% include 'UserBundle:MySubmissions:searchForm.html.twig' %}
            {% include 'UserBundle:MySubmissions:results.html.twig' %}    
    </div>
</div>
{% endblock %}

  {% block javascripts %}
    <script src="{{ asset('dist/js/MySubmissions/mySubmission.js') }}"></script>
  {% endblock %}