{% extends 'base.html.twig' %}

{% block body %}
<div class="container publication">
    <div class="row">
            {% include 'UserBundle:MySubmissions:searchForm.html.twig' %}
            {% include 'UserBundle:MySubmissions:results.html.twig' %}    
    </div>
</div>
{% endblock %}

  {% block javascripts %}
  {% endblock %}