<li class="list-group-item no-results">
    <div class="card">
        <h1>¡No tienes Postulaciones!</h1>
        <h2 class="lead"> Todavia no te has postulado para ayudar</h2>
        <i class="fa fa-users aria-hidden="true"></i>
        <a class="btn btn-primary" href="{{ path("publication_page") }}">Volver al Inicio</a>
    </div>
</li>