<li class="list-group-item no-results">
    <div class="card">
        <h2>No tienes Postulaciones</h2>
        <h2 class="lead"> Todavia no te has postulado para ayudar en ninguna publicación</h2>
        <br>
        <i class="fa fa-users aria-hidden="true"></i>
        <br>
        <a class="btn btn-primary" href="{{ path("publication_page") }}">Volver al Inicio</a>
    </div>
</li>
