<div class="col-md-10 container card search ">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" data-status="elegido">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title">Elegido 1</h4>
                                <small>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                    <br>
                                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                </small>
                            </div>
                            <a class="btn btn-primary detalle" href="#">Ver detalle</a></div>
                    </div>
                </li>
                  <li class="list-group-item" data-status="rechazado">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title">Rechazado</h4>
                                <small>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                    <br>
                                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                </small>
                            </div>
                            <a class="btn btn-primary detalle" href="#">Ver detalle</a></div>
                    </div>
                </li>
                  <li class="list-group-item" data-status="pendiente">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title">Pendiente</h4>
                                <small>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                    <br>
                                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                </small>
                            </div>
                            <a class="btn btn-primary detalle" href="#">Ver detalle</a></div>
                    </div>
                </li>
                  <li class="list-group-item" data-status="elegido">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title">Elegido 2</h4>
                                <small>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                    <br>
                                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                </small>
                            </div>
                            <a class="btn btn-primary detalle" href="#">Ver detalle</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>