<div class="col-md-10 container search ">
<div class="card">
<div class="card-header">
        <a class="btn btn-primary detalle" data-toggle="tooltip" data-placement="left" title="" href="/publications/page" data-original-title="Volver al inicio"><i class="fa fa-reply" aria-hidden="true"></i></a>
            <h1>Mis Postulaciones</h1>
        </div>
        <div class="card-block">
             <ul class="list-group list-group-flush">
                 <li class="list-group-item" data-status="elegido">
                     <div class="row">
                         <div class="col-md-5">
                             <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100 rounded">
                         </div>
                         <div class="col-md-7">
                             <div class="card-block">
                                 <h3 class="card-title">Salvemos el mundo</h3>
                                 <p><strong>Estado: <span class="text-success">Elegido</span></strong></p>
                                 <small>
                                     <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                     <br>
                                     <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                 </small>
                             </div>
                             <a class="btn btn-primary detalle" href="#">Contacto</a></div>
                     </div>
                 </li>
                   <li class="list-group-item" data-status="rechazado">
                     <div class="row">
                         <div class="col-md-5">
                             <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100 rounded">
                         </div>
                         <div class="col-md-7">
                             <div class="card-block">
                                 <h3 class="card-title">Necesito plata para ir a Roma</h3>
                                 <p><strong>Estado: <span class="text-danger">Rechazado</span></strong></p>
                                 <small>
                                     <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                     <br>
                                     <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                 </small>
                             </div>
                     </div>
                 </li>
                 <li class="list-group-item" data-status="pendiente">
                     <div class="row">
                         <div class="col-md-5">
                             <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100 rounded">
                         </div>
                         <div class="col-md-7">
                             <div class="card-block">
                                 <h3 class="card-title">Reencontrarme con Ramirez</h3>
                                 <p><strong>Estado: <span class="text-muted">Pendiente</span></strong></p>
                                 <small>
                                     <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                     <br>
                                     <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                 </small>
                             </div>
                             <a class="btn btn-primary detalle" href="#">Ver Detalle</a></div>
                     </div>
                 </li>
                 <li class="list-group-item" data-status="elegido">
                     <div class="row">
                         <div class="col-md-5">
                             <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100 rounded">
                         </div>
                         <div class="col-md-7">
                             <div class="card-block">
                                 <h3 class="card-title">Perdi a mi tucan</h3>
                                 <p><strong>Estado: <span class="text-success">Elegido</span></strong></p>
                                 <small>
                                     <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                     <br>
                                     <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                 </small>
                             </div>
                             <a class="btn btn-primary detalle" href="#">Contacto</a></div>
                     </div>
                 </li>
             </ul>
             </div>
         </div>          </div> 