<div class="col-md-2">
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action">Todas</button>
  <button type="button" class="list-group-item list-group-item-action">Elegido</button>
  <button type="button" class="list-group-item list-group-item-action">Pendiente</button>
  <button type="button" class="list-group-item list-group-item-action">Rechazado</button>
    </div>
</div>