{% macro item(name, profileImg, text) %}

<div class="media">
    <img class="comment d-flex align-self-start mr-3 rounded" src="{{ profileImg }}" alt="Profile Image">
    <div class="media-body">
        <h4 class="mt-0">{{ name }}</h4>
        <p>{{ text }}</p>
    </div>
</div>

{% endmacro %}