<div class="col col-md-3 profilePic">
    <div class="card">
        <img class="card-img-top" width="100%" src="{{ path('user_photo', {'id': publication.user.id}) }}" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{ publication.user }}</h4>
            <small><i class="fa fa-thumbs-o-up"
                                  aria-hidden="true"></i> {{ achievement_service.getFor(publication.user) }} </small>
        </div>
    </div>
</div>