{% import 'utils/modal.html.twig' as modal %}

{% extends 'base.html.twig' %} 

{% block body %}

{{  modal.item('Esta a punto de eliminar esta publicación, ¿Está seguro que desea continuar?', 'publication_homepage') }}

<div class="container publication">
    <div class="row">
        <div class="col-md-9">
        {% include 'PublicationBundle:Publications:publicationInfo.html.twig' %}      
        </div>
        {% include 'PublicationBundle:Publications:profile.html.twig' %}
    </div>
</div>

{% endblock %}