<div class="col-md-8 container search ">
    <div class="no-results">
        <div class="content">
            <h1>Resultados de busqueda</h1>
            <h2 class="lead"> No se encontraron publicaciones que coincidan con la búsqueda</h2>
            <i class="fa fa-search" aria-hidden="true"></i>
            <br>
            <a class="btn btn-outline-primary" href="{{ path('publication_page') }}">Volver al Inicio</a>
        </div>
    </div>
</div>