<div class="col-md-8 container search ">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-primary detalle" data-toggle="tooltip" data-placement="left" title="Volver al inicio"
                   href="{{ path('publication_page') }}"><i class="fa fa-reply" aria-hidden="true"></i></a>
                <h1>Resultados de busqueda</h1>
                <h2 class="lead"><strong class="text-primary">{{ publications|length }}</strong> 
                {% if publications|length == 1 %}
                publicación fue encontrada.
                {% else %}
                publicaciones fueron encontradas.</h2>
                {% endif %}
            </div>
            <div>
                <ul class="list-group list-group-flush">
                    {% for publication in publications %}
                        {% include 'PublicationBundle:Search:searchResult.html.twig' %}    
                    {% endfor %}
                </ul>
            </div>
        </div>
         <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Ant</a>
            </li>
                <li class="page-item active">
                    <a class="page-link" href="">1</a>
                </li>
            <li class="page-item disabled">
                <a class="page-link" href="">Sig</a>
            </li>
        </ul>
    </nav>

</div>