<div class="col-md-8 container search ">
    <div class="card">
        <div class="card-header">
            <h1>Resultados de busqueda</h1>
            <h2 class="lead"><strong class="text-primary">3</strong> publicaciones fueron encontradas con la palabra <strong class="text-primary">Perro</strong></h2>
        </div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" class="w-100 rounded">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                <small>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>02/15/2014</span>
                                    <br>
                                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>People</span>
                                </small>
                            </div>
                            <a class="btn btn-primary detalle" href="#">Ver detalle</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>