<div class="col-md-4">
    <div class=" card">
        <div class="card-header">
            <h4>Buscar por:</h4>
        </div>
        <div class="card-block">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="location1" class="control-label">Título:</label>
                    <input type="text" class="form-control" value="Perro">
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Categoria:</label>
                    <div class="col-xs-5 selectContainer">
                        <select name="category" id="category" class="form-control">
                            <option value="">Todas las categorias</option>
                            {{ render(controller('PublicationBundle:Category:list')) }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Ciudad:</label>
                    <div class="col-xs-5 selectContainer">
                        <select placeholder="Ciudad" name="city" id="city" class="form-control" required>
                            <option value="">Todas las ciudades</option>
                            {{ render(controller('PublicationBundle:Department:list')) }}
                        </select>
                        <label for="city" class="error" generated="true"></label>
                    </div>
                </div>
                <p class="text-center"><a href="#" class="btn btn-primary" role="button">Aplicar</a></p>
            </form>
        </div>
    </div>
</div>