{% extends 'base.html.twig' %}
 
 {% block body %}
 <div class="container publication">
     <h2>Mis publicaciones</h2>
     <hr>
     <div class="row">
             {% include 'UserBundle:MyPublications:searchForm.html.twig' %}   
             {% include 'UserBundle:MyPublications:results.html.twig' %} 
     </div>
 </div>
 {% endblock %}
 
   {% block javascripts %}
     <script src="{{ asset('dist/js/MySubmissions/mySubmissions.js') }}"></script>
      <script src="{{ asset('dist/js/MyPublications/publicationsDisabled.js') }}"></script>
   {% endblock %}