<li class="list-group-item" data-status="active">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <div class="card-block">
            </div>
    </div>
</li>