<li class="list-group-item no-results">
    <div class="card">
        <h2>No hay Publicaciones</h2>
        <h2 class="lead"> Todavia no has publicado ninguna gauchada</h2>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <a class="btn btn-outline-primary" href="{{ path("publish_new") }}">Publicar Gauchada</a>
        <a class="btn btn-primary" href="{{ path("publication_page") }}">Volver al Inicio</a>
    </div>
</li>