 {% extends 'base.html.twig' %} {% block body %}


{% include 'PublicationBundle:Submissions:point.html.twig' %}  
<div class="container postulantes">
    <div class="row">
        <div class="submissions col-xs-12 col-sm-offset-3 col-sm-12 col-md-8"">
            {% if chosen %}
                {% include 'PublicationBundle:Submissions:chosen.html.twig' %}
            {% endif %}
            {% include 'PublicationBundle:Submissions:noSubmissions.html.twig' %}
        </div>
            {% include 'PublicationBundle:Submissions:publication.html.twig' %}  

    </div>
</div>


{% endblock %} {% block javascripts %}
<script src="{{ asset('dist/js/Publication/Submissions/searchable.js') }}"></script>
<script src="{{ asset('dist/js/Publication/Submissions/list.js') }}"></script>
{% endblock %}