   {% extends 'base.html.twig' %} {% block body %}
   <div class="container postulantes">  
    <div class="row">
        <div class="submissions col-xs-12 col-sm-offset-3 col-sm-8">
            <div class=" card panel panel-default">
                <div class="panel-heading card-header c-list">
                    <span class="title">Postulados</span>
                    <ul class="pull-right c-controls">
                        <li><a href="#" class="hide-search" data-command="toggle-search"><i class="fa fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
                                                    <div class="search" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" placeholder="Ingrese el nombre del postulante" class="form-control" id="contact-list-search">
                {#            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span> #}
                        </div>
                    </div>
                </div>  
                <ul class="list-group" id="contact-list">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Scott Stevens</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                                     <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Homero J Simpsons</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                                     <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Batman</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                                     <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Scooby Doo</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                                         <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Pedro Procer</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    </li>
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Franco Borrelli</span><br/>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">Buen Tipo</span>
                            <span class="visible-xs"> <br/></span>
                            <a class=" btn btn-primary elegir" href="">Elegir</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
	</div>
    
</div>
 </div>
{% endblock %}

  {% block javascripts %}

      <script src="dist/js/Publication/Submissions/jquery.searchable.js"></script>
      <script src="{{ asset('dist/js/Publication/Submissions/list.js') }}"></script>
  {% endblock %}