<div class=" card panel panel-default noSubmissions">
    <div class="panel-heading card-header c-list">
        <span class="title">Postulados</span>
    </div>
    <div class="no-results card-block">
        <h2 class="lead"> Actualmente nadie se ha postulado para ayudarte.</h2>
        <i class="fa fa-users" aria-hidden="true"></i>
        <br>
    </div>
</div>