<div class=" card panel panel-default" style="margin-bottom: 25px;">
    <div class="panel-heading card-header c-list">
        <span class="title">Postulados</span>
    </div>
    <ul class="list-group" id="chosenUser">
        <li class="list-group-item">
            <div class="col-xs-12 col-sm-10">
                <span class="visible-xs"> <br> </span>
            </div>
            <div class="col-xs-12 col-sm-2">
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>