<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Califición para Franco Borrelli </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p> </p>
<div class="" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> &nbsp Negativa
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-hand-peace-o" aria-hidden="true"></i> &nbsp Neutra
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp Positiva
  </label>
</div>
                <textarea name="message" id="message" placeholder="Escriba aquí un comentario opcional" style="height: 29.9886px;width: 100%;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a src="" class="btn btn-primary" style="cursor: pointer; color: white">Postularse</a>
            </div>
        </div>
    </div>
</div>