<div class="col col-md-3 profilePic">
    <div class="card">
        <img class="card-img-top" width="100%" src="{{ path('user_photo', {'id': app.user.id}) }}" alt="Publicación">
        <div class="card-block">
            <h4 class="card-title">Perdi a mi gato</h4>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <small class="text-muted">24/02/2018</small> <br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <small class="text-muted">Animales</small>
        </div>
    </div>
    <a href="#" class="btn btn-primary text-right">Volver a la Publicación</a>
</div>