<li class="list-group-item">
    <div class="col-xs-12 col-sm-3">
        <img src="" alt="Scott Stevens" class="img-responsive img-circle rounded"/>
    </div>
    <div class="col-xs-12 col-sm-9">
        <span class="name"></span><br/>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted"></span>
        <span class="visible-xs"> <br/></span>
        <a class=" btn btn-primary elegir" href="">Elegir</a>
    </div>
    <div class="clearfix"></div>
</li>