<tr>
    <form class="editCategoryForm" action="">
        <td>
            <div class="form-group" style="margin:0">

                <input placeholder="Ingrese el nombre de la categoria" type="text" value="Animales" class="category"
                       id="message" name="message" readonly> animales
            </div>
        </td>
        <td class="text-center">12</td>
        <td>
            <div class="btn-group editable" role="group" style="margin-left: 27px;">
                <button type="submit" class="btn btn-success btn-sm submit" data-toggle="tooltip" data-placement="left"
                        title="Aceptar">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="reset" class="editCancel btn btn-danger btn-sm" data-toggle="tooltip"
                        data-placement="right"
                        title="cancelar">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>

            <div class="btn-group botones" role="group" style="margin-left: 27px;">
                <button type="button" class="edit btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left"
                        title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCategoria">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </td>
    </form>
</tr>