

<footer class="blog-footer">
      <div class="container">
        <span>
        <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
        <span class="footer-text"> (0221) 451-7645</span>
        <span>
        &nbsp
        <span class="footer-text">/</span>
        &nbsp
        <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <span class="footer-text"> nancyM@gmail.com</span>
      </div>
</footer>

