<footer>
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <p><i class="fa fa-at"></i> Una Gauchada 2017</p>
            </div>
            <div class="col col-md-7">
                <ul class="socials">
                    <li><i class="fa fa-envelope" data-toggle="tooltip" data-placement="top"
                           title="nancyn@unagauchada.com"></i></li>
                    <li><i class="fa fa-phone" data-toggle="tooltip" data-placement="top" title="(0221) 451-7645"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>