<div class="container form">


    <div class="container">
        <div class="price-box">
            <form class="form-horizontal form-pricing" role="form" method="post" action="">
                <div class="">
                    <h4 class="great">Cambiar costo de creditos</h4><br>
                    <span class="">Ingrese el nuevo valor para los creditos</span>
                </div>
                <br>
        <div class="col-sm-12" style="margin-bottom: 15px">
            <div class="col-xs-3 col-xs-offset-3">
                <div class="input-group number-spinner">
                    <span class="input-group-btn data-dwn">
                        <button class="btn btn-default" type="button" data-dir="dwn"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </span>
                    <input type="number" class="form-control text-center" min="0" value="1">
                    <span class="input-group-btn data-up">
                        <button class="btn btn-default" type="button" data-dir="up"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                   </span>
                </div>
            </div>
        </div> 
                <div class="col text-right" style="">
                    <button class="btn btn-primary my-2 my-sm-0" id="nextstep" type="submit">Seguir</button>
                </div>
            </form>
        </div>
    </div>

</div>