 {% embed 'utils/card.html.twig' with {'title': 'Comprar creditos'} %} {% block content %}

<div class="container">
    <form id="credits_buy" method="post" action="{{ path('credits_buy', {'amount': amount}) }}">
        <div class="row setup-content">
            <div class="col">
                <div class="col">
                    <h3> Información personal</h3>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input maxlength="40" id="name" name="name" type="text" required="required" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        <input maxlength="40" id="lastName" name="lastName" type="text" required="required" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <label class="control-label">DNI</label>
                        <input maxlength="9" min="0"  minlength="8" id="dni" name="dni" type="number" required="required" class="form-control" placeholder="DNI">
                    </div>
                    <label class="control-label">Numero de tarjeta</label>
                    <div class="form-group">

                        <input  min="0" id="creditCard" type="number" name="creditCard" required="required" class="form-control" placeholder="Tarjeta">
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label class="control-label col">PIN</label>
                            <input min="0" max="999" minlength="3" maxlength="3" name="pin" id="pin" type="number" required="required" class="form-control" placeholder="PIN">
                        </div>
                        <div class="col">
                            <label class="" for="inlineFormCustomSelect">Vencimiento:</label>
                            <div class="form-group row" id="expiration_date">
                                <div class="col">
                                    <select class="custom-select" name="mes" id="mesVenc" name="mesVenc">
                                        <option value="">Mes</option>
                                        <option value="01">Enero</option>
                                        <option value="02">Febrero </option>
                                        <option value="03">Marzo</option>
                                        <option value="04">Abril</option>
                                        <option value="05">Mayo</option>
                                        <option value="06">Junio</option>
                                        <option value="07">Julio</option>
                                        <option value="08">Agosto</option>
                                        <option value="09">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                      </select>


                                    <select class="custom-select" name="anio" id="anioVenc" name="anioVenc">
                                    <option value=""> Año </option>
                                    <option value="2017"> 2017</option>
                                    <option value="2018"> 2018</option>
                                    <option value="2019"> 2019</option>
                                    <option value="2020"> 2020</option>
                                    <option value="2021"> 2021</option>
                                    <option value="2022"> 2022</option>
                                    <option value="2023"> 2023</option>
                                    <option value="2024"> 2024</option>
                                    <option value="2024"> 2025</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="well" style="margin: 40px;">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    </div>

                </div>

        </div>
        <button class="btn btn-default btn-lg pull-right" type="submit">Confirmar</button>
            </div>
</div>
</form>
</div>



{% endblock %}{% endembed %}