{% extends 'base.html.twig' %} {% block body %}
<div class="container signUp text-center">

    <div class="card success">
        <div class="card-block">

            {% if success %}
                <div class="alert alert-success" role="alert">
                    <strong>¡Compra exitosa!</strong> <br> Ahora posees {{ app.user.credits }} créditos.
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <strong>¡Lo siento!</strong> La tarjeta que has introducido no ha podido ser validada. </div>
            {% endif %}

            <a href="{{ path('publication_homepage') }}" class="btn btn-outline-primary my-2 my-sm-0">Volver a inicio</a>

        </div>
    </div>
</div>
{% endblock %}