{% extends 'base.html.twig' %} 

{% block body %}
<div class="container form">
  {% include 'CreditBundle::form.html.twig' %}
</div>

{% endblock %} {% block javascripts %}
<script src="{{ asset('dist/js/Credits/creditsDisabled.js') }}"></script>
<script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
<script src="{{ asset('dist/js/Credits/creditsValidation.js') }}"></script>
{% endblock %}