{% set days = dates|split('-') %}
{% set today = "now"|date("d/m/Y") %}

<div class="col-md-8 container search ">
    <div class="no-results">
        <div class="content">
            <h1>No se encontraron resultados</h1>
            <h2 class="lead"> No ha registrado ninguna compra de créditos{% if today == days|first|trim %} el día de hoy. {% elseif (days|first|trim) == (days|last|trim)  %} el día {{days|first}}. {% else %} entre el {{days|first}} y el {{days|last}}. {% endif %}</h2>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <br>
        </div>
    </div>
</div>