<table id="ganancias" class="table table-striped table-bordered text-center" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">Usuario</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Ganancia</th>
        </tr>
    </thead>
    <tbody>
        {% include 'CreditBundle:Report:purchaseList.html.twig' %}
    </tbody>
    <tfooter>
        <th class="text-center">19 compras</th>
        <th class="text-center">2 usuarios</th>
        <th class="text-center">9 creditos</th>
        <th class="text-center">$3434</th>
    </tfooter>
</table>