<div class="card">
    <div class="card-block card-inverse card-primary text-center">
        <h4 class="card-title">Iniciar Sesi칩n</h4>
</div>
    <div class="card-block">
        <form>
            <div class="form-group"> <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Direcci칩n de email"> </div>
            <div class="form-group"> <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Contrase침a"> </div>
            <div class="checkbox">
                <label class="form-group"><input type="checkbox" value="remember-me"> Recordarme </label>
            </div>
            <button class="form-group btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
            <div class="text-center"><a href="">No me acuerdo mi contrase침a</a></div>
        </form>
    </div>
</div>