<div class="card">
    <div class="rounded-top card-block card-inverse card-{{style| default('primary')}} text-center">
        <h4 class="card-title">{{title}}</h4>
</div>
    <div class="card-block rounded-bottom">
        {% block content %}

        {% endblock %}
    </div>
</div>