{% import 'header/navItem.html.twig' as navbar %}

{% embed "header/dropdown.html.twig" %}

    {% block elements %} 

        {{ navbar.dropdownItem('Mi Perfil', 'fa-user-circle' ,'credits_purchase_amount', 'myProfile') }}

        <div id="profileBar"class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Mi Historial', 'fa-bookmark') }}

        <div id="creditsBar"class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Comprar Créditos', 'fa-shopping-cart', 'credits_purchase_amount', 'creditsPurchase') }}

        <div class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Ayuda', 'fa-info-circle') }}

    {% endblock %}

{% endembed %}