{% import 'header/navItem.html.twig' as navbar %}
 
 {{ navbar.item('Publicar Gauchada', 'publication_homepage', '') }}

<div class="dropdown">
    <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        {{ app.user.name }} {{ app.user.lastname }}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
            <span> <i class="fa fa-user-circle" aria-hidden="true"></i> </span>&nbsp
            <span>Mi Perfil</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>&nbsp
            <span>Mi Historial</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>&nbsp
            <span>Comprar Créditos</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span><i class="fa fa-cog" aria-hidden="true"></i></span>&nbsp
            <span>Configuración</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp
            <span>Ayuda</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('logout') }}">
            <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>&nbsp
            <span>Cerrar Sesión</span>
        </a>
    </div>
</div>