{% import 'header/navItem.html.twig' as navbar %}

    {{ navbar.item('Ayuda', 'publication_homepage') }}
 {{ navbar.item('Registrarse', 'register', 'Gauchadas') }}

<li class="dropdown">
    <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Iniciar Sesión
    </a>
    <ul class="dropdown-menu dropdown-menu-right sign-in" role="menu">
        <li>
            {% include 'UGSecurityBundle:Login:form.html.twig' %}
        </li>
    </ul>
</li>