{% import 'header/navItem.html.twig' as navbar %}

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <span><img src="{{ asset('img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Brand"></span>    Una Gauchada
  </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ navbar.item('Gauchadas', '#', 'Gauchadas') }} {{ navbar.item('Ayuda', '#') }}
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    </ul>
    <ul class="navbar-nav">
     {% include 'header/navbarUser.html.twig' %}
    </ul>
    </div>
  </div>
</nav>