{% import 'header/navItem.html.twig' as navbar %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
          <a class="navbar-brand" href="#">
            <span><img src="{{ asset('img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Brand"></span>
            Una Gauchada
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            {{ navbar.item('Gauchadas', '#', 'Gauchadas') }}
            {{ navbar.item('Créditos', '#') }}
            {{ navbar.item('Contacto', '#') }}
          </ul>
        </div>
      </div>
</nav>